@model EmployeeLeaveRequestViewVM

@{
    ViewData["Title"] = "My Leave ";
}


<div class="card">
    <div class="card-header">
        <h4>Leave Allocations</h4>
    </div>
    <ul class="list-group list-group-flush">

        <li class="list-group-item">

            <div class="row">
                <div class="col">Leave Name</div>
                <div class="col">Original Allocation</div>
                <div class="col">Current Allocation</div>

            </div>

        </li>


        @foreach (var allocation in Model.LeaveAllocations)
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col"> <h6>@allocation.leaveType.Name</h6></div>
                    <div class="col">
                        <button type="button" class="btn btn-primary position-relative">
                            Allocated Days
                            <span class="badge bg-secondary">@allocation.leaveType.DefaultDays</span>
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary position-relative">
                            Remaining Days
                            <span class="badge bg-secondary">@allocation.NumOfDays</span>
                        </button>
                    </div>

                </div>
            </li>

        }
    </ul>
</div>

<hr />
<h3>Current Requests</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].DateRequested)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].Approved)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveRequests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRequested)
                </td>

                <td>
                    @if (item.Cancelled)
                    {
                        <span class="badge bg-secondary">Canceled</span>

                    }
                    else if (item.Approved == null)
                    {
                        <span class="badge bg-warning">Pending</span>
                    }
                    else if (item.Approved.Value)
                    {
                        <span class="badge bg-secondary">Approved</span>
                    }
                    else if (item.Approved.Value == false)
                    {
                        <span class="badge bg-danger">Rejected</span>
                    }

                </td>


                <td>
                    <a asp-action="Cancel" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Cancel Request</a>

                </td>
            </tr>
        }
    </tbody>
</table>

